<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletCarro</servlet-name>
        <servlet-class>servlets.ServletCarro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCarro</servlet-name>
        <url-pattern>/ServletCarro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletCategoria</servlet-name>
        <servlet-class>servlets.ServletCategoria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCategoria</servlet-name>
        <url-pattern>/ServletCategoria</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPedidos</servlet-name>
        <servlet-class>servlets.ServletPedidos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPedidos</servlet-name>
        <url-pattern>/ServletPedidos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletProducto</servlet-name>
        <servlet-class>servlets.ServletProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProducto</servlet-name>
        <url-pattern>/ServletProducto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletRegistro</servlet-name>
        <servlet-class>servlets.ServletRegistro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegistro</servlet-name>
        <url-pattern>/ServletRegistro</url-pattern>
    </servlet-mapping>
</web-app>